/* Notificaciones como modales */
.modal-content.border-success {
    border-left: 5px solid #28a745;
}

.modal-content.border-danger {
    border-left: 5px solid #dc3545;
}

.modal-content.border-warning {
    border-left: 5px solid #ffc107;
}

.modal-content.border-info {
    border-left: 5px solid #17a2b8;
}
